
.header-color{
  background: #757519;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #757519, #757519);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #757519, #757519); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.landing-grid{

    background-image: url("creativethoughts.jpg") ;
    position: relative;
    width: 100%;
    height: 100vh;
    justify-content: center;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}
.my-personal {
  /*background-image: url("gimnast_3x-100.jpg");
  background-position: center; /* Center the image
  background-repeat: no-repeat;  Do not repeat the image
  background-size: cover;*/

}
